<h1 mat-dialog-title>
    <mat-icon class="icon">{{ data.icon }}</mat-icon>
    {{ data.title }}
</h1>

<mat-dialog-content>
    <p>{{ data.message }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button *ngIf="data.showCancelButton"
            mat-raised-button
            mat-dialog-close 
            (click)="closeDialog()">
        {{ data.cancelButtonMessage }}
    </button>
    <button color="primary" 
            mat-raised-button 
            [mat-dialog-close]="true" 
            cdkFocusInitial 
            (click)="closeDialog()">
        {{ data.confirmButtonMessage }}
    </button>
</mat-dialog-actions>