.title {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 20px;
}

.subtitle {
    font-weight: bold;
}

.mat-mdc-form-field {
    width: 100%;
}