.home-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .toolbar-text:hover {
        cursor: pointer;
    }

    .sidenav-container {
        height: 100%;

        .sidenav {
            width: 200px;

            .icon-position {
                position: relative;
                top: 3px;
            }
        }

        .sidenav-content {
            padding: 20px;
        }
    }
}

.spacer {
    flex: 1 1 auto;
}