table {
    width: 100%;
}

.title {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 30px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.grid-tile {
    font-size: 20px;
    font-weight: bold;
    background-color: red;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-row {
    text-align: center;
    height: 70px;
}