table {
    width: 100%;
}

.title {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 30px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row {
    text-align: center;
    height: 70px;
}

.new-button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}