.title {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 20px;
}

.edit-button-container {
    display: flex;
    justify-content: flex-end;
}

div {
    mat-label {
        text-decoration: underline;
    }
}