.title {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 20px;
}

div {
    mat-label {
        text-decoration: underline;
    }
}